h1, h2, h3 {
    text-align: center;
    color: var brown; 
    font-family: var(--fuentePrincipal);
    }
    h1 {
    font-size: 4rem;
    } h2{
    font-size: 3.2rem; }
    h3{
    font-size: 2.4rem;
    }

    .footer {
        position: fixed;
        bottom: 0%;
        width: 100%;
    }