/* Header */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 40px;
    background-color: rgb(237, 154, 94);
    width: 100%;
  }
  
  .logo-container {
    flex: 1;
  }
  
  .nav-bar {
    flex: 1;
    text-align: right;
    padding-right: 50px;
    margin-right: 10px;
  }
  
  .logo {
    width: 80px;
    height: 80px;
  }
  
  .nav-bar img {
    width: 50px;
    height: 50px;
    vertical-align: middle;
  }
  
  .nav-bar a {
    text-decoration: none;
  }
  
  /* Footer */
  footer {
    background-color: rgba(237, 154, 94, 0.861);
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
  }
  
  .copy {
    text-align: center;
  }
  
  @media (max-width: 768px) {

    .navbar {
      flex-direction: column;
    }
  
    .nav-bar {
      text-align: center;
      margin-top: 10px;
    }
  
    .logo {
      margin-top: 10px;
    }
  
    .nav-bar a {
      display: block;
      margin-bottom: 10px;
    }
  }